{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futures Thinking</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Futures Thinking</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'feed' %}" class='link'>Feed</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}"class='link'>Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'entry_create' %}"class='link'>Create Post</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-3">
        <div class="right">
        
            All Rights Reserved, &copy; <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script> Futures Thinking
        </div>
    </footer>
</body>
</html>