{% extends 'base.html' %}


{% block content %}
<h1>Feed Page</h1>
<p>This is where we will see the AllEntries data</p>
<div class="cards">
    {% for post in object_list %}
    <div class="card">
        <a href="{% url 'detail' post.id %}">
            <div>
                <h4>{{ post.title }}</h4>
                <p>Created on {{ post.date }} by {{post.user}}</p>
                <p>{{ post.entry }}</p>
               
                
            </div>
        </a>
    </div>
    {% endfor %}

 




</div>
{% endblock %}