{% extends 'base.html' %}
{% block content %}
<h1>Feed Page</h1>
<p>This is where we will see the AllEntries data</p>
{% for tag in tags %}
<a href="{% url 'posts_by_tag' tag.slug %}"> {{ tag.name }}</a>
{% endfor %}
<div class="cards">
   
    {% for post in object_list %}
    <div class="card">
        <a href="{% url 'detail' post.id %}">
            <div>
                <h4>{{ post.title_of_that_future }}</h4>
                <p>Created on {{ post.date }} by {{post.user}}</p></a>
               <p>{{post.in_the_future}}</p>
           
                {% for tag in post.tags.all %}
              <a href="{% url 'posts_by_tag' tag.slug %}"> {{ tag.name }}</a>
                {% endfor %}
         
             
             
            </div>
        
    </div>
    {% endfor %}
  
</div>
{% endblock %}