{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="homecontainer">
  <div class="body homebody">
    <h4 class="headerhome">A space to think about impossible futures</h4>
    <p> Futures Thinker is a person who loves to think and dream about the future. They think about what is possible, not impossible.  They are not satisfied with status quo and find it boring. They like to focus on ideas, not just facts. They are hopeful,  and inspire others to see and follow their vision of the future. What if...? In the future...<class=""></Future></p>
    <br>
    <a href="http://127.0.0.1:8000/accounts/signup/"><button type="button" class="waves-effect waves-light btn row center button-home">Sign Up</button></a> 
      <br>
    <img src="https://i.imgur.com/ZJ149rl.png" alt="macbook-image">
  </div>
</div>
{% endblock %}