* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F5F5F5;
}

.homecontainer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.homebody{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

.headerhome{
    margin-bottom: 40px;
}

.waves-effect{
    margin-bottom: 0 !important;
}


img{
    width: 700px;
    align-self: center;
}

@media screen and (max-width: 768px){
    .homecontainer{
        width: 100%;
        padding: 0;
    }
    img{
       width: 400px;
            align-self: center;
        
    }
}
.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2px;
}


.link {
    margin-left: 20px;
}
@media screen and (max-width: 768px){
    .link{
        font-size: 10px;
        margin: 0;
        padding-left: 6px;
        padding-right: 6px;
    }
    .homelink{
        font-size: 10px;
        margin: 0;
        padding-left: 6px;
        padding-right: 6px;
    }
}


main{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

footer, div{
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px){
    footer, .right{
       
     text-align: center;
   
    }
    
}


.button-home {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ======================================== FEED PAGE */

.container{
    /* margin: 0; */
    width: 100%;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 10px !important;
}

.innercard {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 350px;
    width: 450px;
}

.cardBottom{
    padding: 0;
}
@media screen and (max-width: 768px){
    .card{
        width: 350px;
    }
    .innercard{
        width: 300px;
    }
}

.top{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.tags{
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tag{
    margin-left: 10px;
    margin-left: 10px;
}

.noposts{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.bigcontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formcontainer{
    width: 80%;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    justify-content: center;
    margin: 0;
}
@media screen and (max-width: 768px){
    .formcontainer{
        width: 375px;
    }
}

.formcontainer, p{
    margin-bottom: 10px !important;
}

.formtitle{
    text-align: center;
    margin-bottom: 35px;
}

.btndiv{
    margin-top: 20px;
    text-align: center;
}