{% extends 'base.html' %}
{% block content %}

<h1>Details of  {{entry.title}}</h1>

<div class="row">
    <div class="col s6 col-offset-3">
          <p>{{entry.entry}}</p>

          <div class="video-container">
         {{entry.video_url}}
          </div>
          <p></p>
          <p>{{entry.date}}</p>
          <p>Created by {{entry.user}} in {{entry.date}} </p>
        </div>
        <div class="card-action">
            <p>  <img src="{{entry.img}}" alt="{{entry.title}}"></p>
            {% if request.user == entry.user%}
            <a href="{% url 'entry_update' entry.id %}">Edit</a>
       
            <a href="{% url 'entry_delete' entry.id %}">Delete</a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>

{% endblock %}