{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}

<div class="cards">

  <div class="card col s4">
    <h4 class="cardTitle">{{entry.title_of_that_future}}</h4>
    <p>{{entry.date}} by {{entry.user}} </p>
    <br/>
    <p class="cardBody">{{entry.in_the_future}}</p>
    <div class="card-action">
      <!-- <img src="{{entry.optional_image}}" alt="{{entry.title_of_that_future}}"> -->
      {% if request.user == entry.user %}
      {% video entry.optional_video 'medium' %}
      <div class="cardBottom">
        <a href="{% url 'entry_update' entry.id %}">Edit</a>
        <a href="{% url 'entry_delete' entry.id %}">Delete</a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="card col s3">
    <h4>Comments...</h4>
    <br />

    {% if not entry.comments.all %}
    No Comments Yet...
    <br />
    {% else %}
    <a href="{% url 'add_comment' entry.pk %}">Add comment</a>
    {% for comment in entry.comments.all %}
    <strong>
      {{ comment.name }} - {{ comment.date_added }}
    </strong>
    <br />
    {{ comment.body }}
    <br />
    {% endfor %}
    {% endif%}

    <br />
    <a href="{% url 'add_comment' entry.pk %}">Add comment</a>
    <br />
  </div>
</div>
{% endblock %}
